{%extends 'base.html' %}

{% block content %}
<head>
</head>
<body>

  <h1 class="text-center">Feeder</h1>

<div>
    <div class="input-group col-md-6 col-md-offset-3 col-sm-offset-5" id="search_form">
      <form action= "{{ url_for('search') }}" method="post" >
      <input type="text" class="form-control" placeholder="Search for a restaurant or an area near you!" name="search_query">
      <span class="input-group-btn text-center col-md-offset-6">
        <button class="btn btn-primary" type="submit">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</form>
</body>
{%endblock%}
